@import "~bootstrap/scss/bootstrap.scss";
#app{
    height: -webkit-fill-available;
background-image: url("https://i.pinimg.com/564x/90/ca/d4/90cad40e061ae1e08a9277e50d63f46e.jpg");
    display: flex;
    justify-content: center;
}

.Counter{
    display: inline-block;
    width: 35rem;;
}
.Counter div{
    display: inline-block;
    font-size: 6rem;
    line-height: 6rem;
    color: white;
    margin: 1rem;
}
